@import "tailwindcss";

@theme {
  --font-cabinet-grotesk: "Cabinet Grotesk", sans-serif;

  --color-primary: #0E1422;
  --color-secondary: #F4F9FF;
  --color-grey: #5C5F6A;
  --color-accent-1: #F6F6F6;
  --color-accent-2: #E9E9EB;
  --color-accent-3: #EDEDED;
  --color-admin-primary: #1A1A1A;
}


body {
  font-family: var(--font-cabinet-grotesk);
}

button {
  @apply cursor-pointer
}