@import "tailwindcss";

@theme {
  --font-cabinet-grotesk: "Cabinet Grotesk", sans-serif;

  --color-primary: #0E1422;
  --color-secondary: #F4F9FF;
}


body {
  font-family: var(--font-cabinet-grotesk);
}